body {
  background-color: red;
  box-sizing: border-box;
  width: 100%;
}
main {
  background-color: rgb(8, 8, 8);
  padding: 10px;
  width: 75%;
  margin: 0 auto;
  overflow-wrap: break-word;
}
main ul {
  font-size: 1.2em;
  list-style-type: none;
  background-color: rgb(250, 248, 248);
}
main ul li {
  margin-bottom: 10px;
}
