
.container{
    /*background-color:rgb(69, 189, 236);*/
    width:60%;
    margin:0 auto;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}
h1
{
    font-family: 'Pacifico', cursive;
    font-size:3.5em;
}
.searchControl
{
    width : 250px;
    border:2px solid rgb(178, 183, 184);
    padding:10px;
    font-size:1em;
    margin-bottom:10px;
}
#searchBtn
{
    background-color:rgb(39, 228, 140);
    padding:15px;
    border-radius: 5px;
    color:#fff;
    font-size:1em;
    border:none;
    margin-bottom:10px;
}
/*.display-gif
{
    visibility: hidden;
}